---
layout: default
---

<section id="cover">
    {% include home/cover.html %}
</section>

<section id="ceremony">
    {% include home/ceremony.html %}
</section>

<section id="countdown">
    {% include home/countdown.html %}
</section>

<section id="ourstory">
    {% include home/ourstory.html %}
</section>

<section id="people">
    {% include home/people.html %}
</section>

<section id="rsvp">
    {% include home/rsvp.html %}
</section>

<section id="gmaps">
    {% include home/gmaps.html %}
</section>
