---
layout: default
---

<section id="cover">
    {% include home/cover.html %}
</section>

<section id="ceremony">
    {% include home/ceremony.html %}
</section>

<section id="countdown">
    {% include home/countdown.html %}
</section>

<section id="ourstory">
    {% include home/ourstory.html %}
</section>

<section id="people">
    {% include home/people.html %}
</section>

<section id="venue">
    {% include home/venue.html %}
</section>

<section id="our-gallery">
    {% include home/our-gallery.html %}
</section>

<section id="video">
    {% include home/video.html %}
</section>





