@font-face
  font-family: Gotham-Light
  src: url('/fonts/Gotham/Gotham-Light.otf')

@font-face
  font-family: Gotham-Bold
  src: url('/fonts/Gotham/Gotham-Bold.otf')

@font-face
  font-family: Gotham-Black
  src: url('/fonts/Gotham/Gotham-Black.otf')

@font-face
  font-family: Gotham-Medium
  src: url('/fonts/Gotham/Gotham-Medium.otf')

@font-face
  font-family: Robotoslab-Bold
  src: url('/fonts/Roboto-Slab/RobotoSlab-Bold.ttf')

@font-face
  font-family: Robotoslab-Regular
  src: url('/fonts/Roboto-Slab/RobotoSlab-Regular.ttf')

@font-face
  font-family: Robotoslab-Light
  src: url('/fonts/Roboto-Slab/RobotoSlab-Light.ttf')

@font-face
  font-family: Robotoslab-Thin
  src: url('/fonts/Roboto-Slab/RobotoSlab-Thin.ttf')

@font-face
  font-family: Dancing-Script-Regular
  src: url('/fonts/Dancing-Script/DancingScript-Regular.ttf')

@font-face
  font-family: Dancing-Script-Bold
  src: url('/fonts/Dancing-Script/DancingScript-Bold.ttf')


