//Global
.stylized
  font-family: 'Dancing-Script-Regular','sans-serif'


#cover
  position: relative
  background-image: url('https://camillacreativephotography.files.wordpress.com/2016/01/cotswold-wedding-painswick-1.jpg?w=800&h=500')
  //background-image: url('https://res.cloudinary.com/rocketmiles/image/fetch/w_1366,h_800,c_fill/https%3A%2F%2Fi.imgur.com%2FaqcwBS7.jpg')
  background-attachment: fixed
  background-size: cover
  background-position: top center
  height: 115vh
  .bg-overlay
    position: absolute
    width: 100%
    height: 100%
    background-color: rgba(0,0,0,0.5)
  .intro-text-container
    position: relative
    padding-top: 260px
    padding-bottom: 100px
    left: 0
    right: 0
    margin-left: auto
    margin-right: auto
    .intro-text
      position: relative
      top: -40px
      font-size: 50px
      text-align: center
      color: white
    .intro-header
      margin-bottom: 50px
      text-transform: uppercase
      font-family: 'Montserrat','sans-serif'
      font-size: 75px
      font-weight: 700
      line-height: 75px
      .left-section
        span
          margin-right: -55px
          font-weight: normal
          border-bottom: 2px solid rgba(255, 255, 255, 0.3)
          border-top: 2px solid rgba(255, 255, 255, 0.3)
          padding: 0px 0 9px 0
          font-size: 75px
          color: white
      .right-section
        span
          margin-left: -35px
          font-weight: normal
          border-bottom: 2px solid rgba(255, 255, 255, 0.3)
          border-top: 2px solid rgba(255, 255, 255, 0.3)
          padding: 0px 0 9px 0
          font-size: 75px
          color: white
      .pulse
        color: white
        -webkit-animation: pulse 1s linear infinite
        -moz-animation: pulse 1s linear infinite
        -ms-animation: pulse 1s linear infinite
        animation: pulse 1s linear infinite
        &:before
          content: "\f08a"
      .intro-place
        font-family: Montserrat
        text-transform: uppercase
        letter-spacing: 0px
        font-weight: normal
        font-style: normal
        color: white
        text-align: center
        &:before
          opacity: 0.8
          content: ""
          height: 6px
          width: 120px
          display: inline-block
          position: relative
          top: -5px
          right: 20px
          background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAJUlEQVQIW2NkQAP/////z4gsBhYAAZggTADEBwsiC4AF0QVAggAaRhQC3z7vXAAAAABJRU5ErkJggg==') repeat

        &:after
          opacity: 0.8
          content: ""
          height: 6px
          width: 120px
          display: inline-block
          position: relative
          top: -5px
          left: 20px
          background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAJUlEQVQIW2NkQAP/////z4gsBhYAAZggTADEBwsiC4AF0QVAggAaRhQC3z7vXAAAAABJRU5ErkJggg==') repeat
      .intro-date
        color: white
        text-align: center
        font-family: "Montserrat", "sans-serif"
        font-size: 14px
        font-weight: 400
        position: relative
        top: -5px
      .intro-button
        background-color: #FF5252
        color: white
        font-size: 16px
        display: block
        width: fit-content
        padding: 0px 50px
        margin: 40px auto
        text-decoration: none
        transition: all 0.3s ease
        -webkit-transition: all 0.3s ease
        -o-transition: all 0.3s ease
        &:hover
          background-color: #FF8A80


  .bottom-style
    position: absolute
    bottom: 0
    left: 0
    right: 0
    &:before
      content: ''
      position: absolute
      border-style: solid
      border-width: 90px 0 0px 685px
      border-color: transparent transparent transparent #fff
      z-index: 1
      bottom: -15%
      left: 0
    &:after
      content: ''
      position: absolute
      border-style: solid
      border-width: 90px 685px 0px 0
      border-color: transparent #fff transparent transparent
      z-index: 1
      bottom: -15%
      right: 0


#ceremony
  position: relative
  .border-event-top
    padding-top: 40px
    h2
      color: #777
      font-family: Montserrat
      text-transform: uppercase
      letter-spacing: 0px
      font-weight: normal
      font-style: normal
      font-size: 1.3em
      padding: 0 0 0 40px
      text-align: center
      margin: 30px 0 0 0
    h1
      text-transform: uppercase
      font-weight: 300
      text-indent: 40px
      margin: 20px 0 40px 0
      letter-spacing: 3px
      font-size: 2em
      text-align: center
      font-family: "Roboto Slab","sans-serif"
      span
        color: #777
        border-top: 2px solid #777
        border-bottom: 2px solid #777
        padding: 0
        background-color: #fff

    .center-border
      border-left: 1px dashed #ddd
      height: 100%
      margin: 15px 0

  .section-quotes
    .share-event
      font-family: 'Roboto Slab','sans-serif'
      margin: 0 -10px 30px
      border-top: 1px dashed #ddd
      border-bottom: 1px dashed #ddd
      text-align: center
      color: #777
      letter-spacing: 0px
      font-size: 1.7em
      text-transform: uppercase
      font-weight: bold
      padding: 50px 0
      word-spacing: 5px

  .couple-info-section
    border-bottom: 1px dashed #ddd
    .common-border
      border-right: 1px dashed #ddd
      height: 100%
      .bride-section
        color: #777
        font-family: "Roboto Slab",'sans-serif'
        margin: 15px 0 70px
        img
          width: 200px
          margin: 0 auto 40px auto
        h4
          font-family: 'Montserrat'
          text-transform: uppercase
          letter-spacing: 0px
          font-weight: normal
          font-style: normal
        h1
          margin: 20px 0
          text-transform: uppercase
          font-size: 2em
          text-align: center
          font-weight: 300
          letter-spacing: 3px
        p
          padding: 5px 20% 0 20%
          font-size: 14px
          line-height: 1.7em
          font-weight: normal
    .groom-section
      color: #777
      font-family: "Roboto Slab",'sans-serif'
      margin: 15px 0 70px
      img
        width: 200px
        margin: 0 auto 40px auto
      h4
        font-family: 'Montserrat'
        text-transform: uppercase
        letter-spacing: 0px
        font-weight: normal
        font-style: normal
      h1
        margin: 20px 0
        text-transform: uppercase
        font-size: 2em
        text-align: center
        font-weight: 300
        lebetter-spacing: 3px
      p
        padding: 5px 20% 0 20%
        font-size: 14px
        line-height: 1.7em
        font-weight: normal

  .center-icon
    height: 100px
    width: 100px
    display: block
    margin: 0 auto 0 auto
    text-align: center
    background-color: #FF5252
    color: #fff
    border-radius: 50%
    z-index: 8
    position: relative
    line-height: 100px
    top: -50px
    box-shadow: 0 0 0 5px #FF8A80, inset 0 0px 0 rgba(0, 0, 0, 0.08), 0 0px 11px 7px rgba(0, 0, 0, 0.07)
    .church-image
      text-align: center
      height: 50px

  .venue-container
    margin: -70px 0 30px 0
    .center-border
      border-left: 1px dashed #ddd
    .venue
      text-align: center
      h2
        font-family: Montserrat
        text-transform: uppercase
        font-size: 1.3em
        color: #3E3D39
        padding: 0 0 15px 20px
        text-align: center
        letter-spacing: 3px
        font-weight: 400
      ul
        list-style: none
        padding-left: 0
        li
          font-family: "Roboto Slab"
          font-weight: normal
          color: #777
          list-style: none
          font-size: 14px
          text-transform: uppercase
          padding: 5px 0
          width: 100%
          text-align: center
