<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="{{ site.description }}">
  <meta name="author" content="">

  <title>Josan & Bryan Wedding</title>

  <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">

  <link rel="stylesheet" href="/css/home.css">
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
</head>
<body>

{% include navbar.html %}
{{ content }}

{% include modal.html %}
{% include footer.html %}

<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/jPushMenu.js"></script>
<script type="text/javascript" src="/js/jquery.final-countdown.min.js"></script>
<script type="text/javascript" src="/js/instafeed.min.js"></script>
<script type="text/javascript" src="/js/kinetic-v5.1.0.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBeAKRKcJAGPH0kzf_1dO-1xl_qDicJIu0&callback=initMap"></script>
<script>
  function initMap() {
    var mapLocation = {lat: 14.370429, lng: 121.008782};
    var customMapType = new google.maps.StyledMapType([
      {
        featureType: 'road',
        stylers: [
          {visibility: 'simplified'},
          {gamma: 0.5},
          {weight: 0.5},
          { hue: "#333333" }
        ]
      },
      {
        elementType: 'labels',
        stylers: [{visibility: 'on'}]
      },
      {
        featureType: 'water',
        stylers: [{color: '#2d2d2d'}]
      }
    ], {
      name: 'Custom Style'
    });
    var customMapTypeId = 'custom_style';

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 15,
      zoomControl: false,
      scaleControl: false,
      scrollwheel: false,
      center: mapLocation,
      mapTypeControlOptions: {
        mapTypeIds: [google.maps.MapTypeId.ROADMAP, customMapTypeId]
      }
    });

    var image = '/img/asset/map-icon.png'

    var marker = new google.maps.Marker({
      position: mapLocation,
      map: map,
      center: mapLocation,
      icon: image
    });

    map.mapTypes.set(customMapTypeId, customMapType);
    map.setMapTypeId(customMapTypeId);
  }
</script>

<script type="text/javascript" src="/js/home.js"></script>


</body>

</html>
