<div class="container-fluid no-gutter">
    <div class="border-event-top clearfix">
        <div class="col-md-6 col-sm-12">
            <div class="parent-bride ">
                <img class="center-block img-circle img-responsive" src="/img/asset/parent-bride.png" alt="">
                <h4 >Mother of The bride</h4>
                <h3>Mrs Susan Lonkey</h3>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 center-border">
            <div class="parent-bride">
                <img class="center-block img-circle img-responsive" src="/img/asset/parent-groom.png" alt="">
                <h4>Parents of The Groom</h4>
                <h3>Mr + Mrs Chug</h3>
            </div>
        </div>
    </div>


    <div class="col-lg-12 section-quotes">
        <h2 class="share-event">Once in a while, right in the middle of an ordinary life, love gives us a fairytale.</h2>
    </div>

    <div class="couple-info-section clearfix">
        <div class="col-md-6 col-sm-6 common-border">
            <div class="bride-section text-center">
                <img class="center-block img-circle img-responsive" src="/img/asset/bride.jpg" alt="">

                <h4>The Bride</h4>
                <h1>{{ site.ceremony.bride.name }}</h1>

                <p class="text-center">{{ site.ceremony.bride.description }}</p>
            </div>
        </div>
        <div class="col-md-6 col-sm-6">
            <div class="groom-section text-center">
                <img class="center-block img-circle img-responsive" src="/img/asset/groom.jpg" alt="">

                <h4>The Groom</h4>
                <h1>{{ site.ceremony.groom.name }}</h1>

                <p class="text-center">{{ site.ceremony.groom.description }}</p>

            </div>
        </div>

    </div>

    <div class="center-icon">
        <img src="/img/asset/church.png" class="church-image"/>
    </div>

    <div class="venue-container center-up-icon clearfix">
        <div class="col-md-6 col-sm-12">
            <div class="ceremony-section venue">
                <h2>Ceremony</h2>
                <ul>
                    <li><b>Sunday / May - 22  - 2016 / 2:00 pm</b></li>
                    <li><b>Notre Dame de Vie Chapel</b></li>
                    <li><b>Daang Reyna, Vista City, Las Piñas, Philippines</b></li>
                </ul>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 center-border">
            <div class="venue-section venue">
                <h2>Reception</h2>
                <ul>
                    <li><b>Sunday / May - 22  - 2016 / 3:00 pm</b></li>
                    <li><b>Palazzo Verde</b></li>
                    <li><b>Daang Reyna, Vista City, Las Piñas, Philippines</b></li>
                </ul>
            </div>
        </div>
    </div>

</div>