<div class="container no-gutter">

    <div class="countdown-container container no-gutter">
        <h3 class="section-header text-center section-header ">HOW LONG DO WE HAVE TO WAIT</h3>
        <br/>
        <div id="clock"></div>
        <!--<div class="clock col-md-offset-3 col-md-6 col-xs-12">-->
            <!--&lt;!&ndash; days &ndash;&gt;-->
            <!--<div class="clock-item clock-days countdown-time-value col-md-3 col-sm-3 col-xs-6 ">-->
                <!--<div class="wrap">-->
                    <!--<div class="inner">-->
                        <!--<div id="canvas-days" class="clock-canvas"></div>-->
                        <!--<div class="text">-->
                            <!--<p class="val">0</p>-->
                            <!--<p class="type-days type-time">DAYS</p>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

            <!--&lt;!&ndash; hours &ndash;&gt;-->

            <!--<div class="clock-item clock-hours countdown-time-value col-md-3 col-sm-3 col-xs-6 ">-->
                <!--<div class="wrap">-->
                    <!--<div class="inner">-->
                        <!--<div id="canvas-hours" class="clock-canvas"></div>-->
                        <!--<div class="text">-->
                            <!--<p class="val">0</p>-->
                            <!--<p class="type-hours type-time">HOURS</p>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

            <!--&lt;!&ndash; minutes &ndash;&gt;-->
            <!--<div class="clock-item clock-minutes countdown-time-value col-md-3 col-sm-3 col-xs-6 ">-->
                <!--<div class="wrap">-->
                    <!--<div class="inner">-->
                        <!--<div id="canvas-minutes" class="clock-canvas"></div>-->
                        <!--<div class="text">-->
                            <!--<p class="val">0</p>-->
                            <!--<p class="type-minutes type-time">MINUTES</p>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

            <!--&lt;!&ndash; seconds &ndash;&gt;-->
            <!--<div class="clock-item clock-seconds countdown-time-value col-md-3 col-sm-3 col-xs-6 ">-->
                <!--<div class="wrap">-->
                    <!--<div class="inner">-->
                        <!--<div id="canvas-seconds" class="clock-canvas"></div>-->
                        <!--<div class="text">-->
                            <!--<p class="val">0</p>-->
                            <!--<p class="type-seconds type-time">SECONDS</p>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</div>
