<div class="container no-gutter">

    <div class="countdown-container container no-gutter">
        <h3 class="section-header text-center section-header">Road to Forever</h3>
        <br/>
        <div id="clock">

        </div>
    </div>
</div>
<div class="item-container col-md-3">
    <span class="countdown-name">DAYS</span>
    <span id="countdown-day" class="countdown-value"></span>
</div>

<div class="item-container col-md-3">
    <span class="countdown-name">HOURS</span>
    <span id="countdown-hour" class="countdown-value"></span>
</div>

<div class="item-container col-md-3">
    <span class="countdown-name">MINUTES</span>
    <span id="countdown-minute" class="countdown-value"></span>
</div>

<div class="item-container col-md-3">
    <span class="countdown-name">SECONDS</span>
    <span id="countdown-second" class="countdown-value"></span>
</div>