
<div class="container-fluid no-gutter">
    <div class="bg-overlay"></div>
    <div class="intro-container">
       <div class="intro-image">
           <img class="cover-image" src="/img/asset/smooth-brush-logo.png"/>
       </div>
        <div class="mouse-scroll-container">
            <div class="mouse"></div>
            <div class="caption">Scroll Down</div>
        </div>
        <!--<div class="intro-details">-->
            <!--<h3 class="intro-place">Palazzo Verde</h3>-->
            <!--<h5 class="intro-date">22 May 2016</h5>-->
        <!--</div>-->
        <!--<a href="#ceremony" class="text-center intro-button">Save The Date</a>-->
    </div>
</div>

