
<div class="container-fluid no-gutter">
    <div class="bg-overlay"></div>
    <div class="intro-text-container">
        <h4 class="intro-text stylized">The Wedding Celebration of</h4>
        <div class="intro-header">
            <div class="container">
                <div class="col-lg-5 left-section">
                    <span class="pull-right">Josan</span>
                </div>
                <div class="col-lg-2">
                    <div class="text-center">
                        <i class="text-center pulse fa fa-heart-o"></i>
                    </div>
                </div>
                <div class="col-lg-5 right-section">
                    <span class="pull-left">Bryan</span>
                </div>
                <h3 class="intro-place">Palazzo Verde</h3>
                <h5 class="intro-date">22 May 2016</h5>
            </div>
        </div>
    </div>
</div>