<div class="container no-gutter">
    <h2 class="section-header">SUPPLIERS</h2>
    {% for supplier in site.supplier %}
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 content-container">
        <div class="image-container">
            <img class="content-image center-block img-responsive" src="{{ supplier.image }}"/>
        </div>
        <div class="caption">
            <span class="caption-name">{{ supplier.name }}</span>
            <span class="caption-product">{{ supplier.product }}</span>
        </div>
    </div>
    {% endfor %}
</div>